<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- web.xml : WAS 실행시 프로젝트 자원을 컨텍스트(웹자원)로 변환하기 위한 정보를 제공한 파일 -->
	<!-- => 리스너 설정, 필터 설정, 서블릿 설정, 에러 페이지 설정 등 -->

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<!-- context-param : 컨텍스트로 존재하는 모든 클래스에 값을 제공하기 위한 엘리먼트 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<!-- listener : WAS 실행시 Listener 클래스를 객체로 생성하기 위한 엘리먼트 -->
	<!-- Listener 클래스 : ServletContextListener 인터페이스를 상속받은 자식클래스 -->
	<!-- => contextInitalized() 메소드 : Listener 객체 생성 후 자동으로 호출되는 메소드 - 초기화 작업 -->
	<!-- => contextDestryed() 메소드 : Listener 객체 소멸 전 자동으로 호출되는 메소드 - 마무리 작업 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

<!-- filter : Filter 클래스를 필터로 등록하기 위한 엘리먼트 -->
	<!-- Filter 클래스 : Filter 인터페이스를 상속받아 작성된 자식클래스 -->
	<!-- => 웹프로그램 실행 전 또는 후에 동작될 명령을 doFilter() 메소드로 제공하는 클래스 -->
	<!-- CharacterEncodingFilter : Spring Framework에서 제공하는 필터 클래스로 요청 처리 전
	리퀘스트 메세지의 바디(Body)에 저장되어 전달되는 값의 캐릭터셋을 변경하는 기능 제공 -->
	<!-- => encoding 이름으로 캐릭터셋의 인코딩 값을 반드시 전달 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
	<!-- filter-mapping : 필터가 적용되기 위한 클라이언트 요청 URL 주소의 패턴을 설정하는 엘리먼트 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Processes application requests -->
	<!-- servlet : 서블릿 클래스를 웹프로그램(서블릿)으로 등록하는 엘리먼트 -->
	<!-- => DispatcherServlet 클래스(Front Controller)를 웹프로그램으로 등록 -->
	<!-- => servlet 엘리먼트를 사용하여 Front Controller 기능을 제공하는 웹프로그램을 여러개 등록 가능 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<!-- DispatcherServlet : 클라이언트의 모든 요청을 처리하기 위해 Spring Framework에서
		제공하는 Front Controller 클래스 -->
		<!-- => 클라이언트의 요청을 처리하기 위해 WebApplicationContext 객체로 Bean Configuration File을  
		읽어 Spring Bean으로 등록된 모든 클래스를 객체로 생성하여 서블릿(DispatcherServlet)에서 사용되도록 제공 -->
		<!-- => init-param 엘리먼트의 contextConfigLocation 이름으로 제공되는 값이 Bean Configuration File -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
			<!-- init-param : Servlet 클래스에서 필요한 값을 제공하기 위한 엘리먼트  -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- 서블릿이 사용할 Bean Configuration File을 여러개 등록 가능 -->
			<!-- => Bean Configuration File을 엔터 또는 , 또는 ;으로 구분하여 설정 -->
			<!-- => Annotation 기반의 Bean Configuration File은 하나만 인식되어 처리 -->
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<!-- load-on-startup : WAS 실행시 서블릿 클래스를 객체로 생성하기 위한 엘리먼트 -->
		<!-- => 클라이언트의 요청 없이 WAS 실행시 미리 서블릿 클래스를 객체로 생성하기 위해 사용 -->
		<!-- => 엘리먼트의 값은 0보다 큰 정수값을 사용하며 값이 작을수록 먼저 객체로 생성 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<!-- servlet-mapping : 웹프로그램(서블릿) 실행을 위해 요청할 URL 주소를 설정하는 엘리먼트 -->	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<!-- 클라이언트의 모든 요청(/)에 대해 서블릿이 실행되도록 설정 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
