<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.AccountMapper">
	<insert id="insertAccount">
		<selectKey resultType="int" keyProperty="account_no" order="BEFORE">
			select seq_account.nextval from dual
		</selectKey>
		insert into account values(
		#{account_no, jdbcType=INTEGER}, 
		#{member_no, jdbcType=INTEGER}, 
		#{account_bank, jdbcType=INTEGER), 
		#{account_number, jdbcType=INTEGER}, 
		#{account_pw, jdbcType=VARCHAR })
	</insert>
	
	<delete id="deleteAccount">
		delete from account where member_no = #{member_no}
	</delete>
	
	<select id="selectAccount" resultType="Account">
		select * from account where member_no = #{member_no}
	</select>
	
</mapper>