<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.AwardMapper">
	<insert id="insertAward">
		<selectKey resultType="int" keyProperty="awardNo" order="BEFORE">
			select seq_award.nextval from dual
		</selectKey>
		insert into award values(
		#{awardNo, jdbcType=INTEGER}, 
		#{trainerNo, jdbcType=INTEGER}, 
		#{awardContent, jdbcType=VARCHAR}, 
		#{awardImage, jdbcType=VARCHAR})
	</insert>
	
	<update id="updateAward">
		update award 
		<set>
			<if test="awardContent!=null and awardContent!=''">
				award_content = #{awardContent},
			</if>
			<if test="awardImage != null and awardImage != ''">
				award_image = #{awardImage}
			</if>
		</set>
		where award_no = #{award_no}
	</update>
	
	<delete id="deleteAward">
		delete from award where award_no = #{awardNo}
	</delete>
	
	<select id="selectAward" resultType="Award">
		select * from award where award_no = #{awardNo}
	</select>
	
	<select id="selectAwardList" resultType="Award">
		select * from award where trainer_no = #{trainerNo} order by award_no desc 
	</select>
</mapper>
