<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.AwardMapper">
	<insert id="insertAward">
		<selectKey resultType="int" keyProperty="num" order="BEFORE">
			select seq_award.nextval from dual
		</selectKey>
		insert into award values(#{num}, #{trainer_no}, #{award_content}, #{award_image})
	</insert>
	
	<update id="updateAward">
		update award 
		<set>
			<if test="award_content!=null and award_content!=''">
				award_content = {award_content},
			</if>
			<if test="award_image != null and award_image != ''">
				award_image = {award_image}
			</if>
		</set>
		where award_no = #{num}
	</update>
	
	<delete id="deleteAward">
		delete from award where award_no = #{num}
	</delete>
	
	<select id="selectAward" resultType="Award">
		select * from award where award_no = #{num}
	</select>
	
	<select id="selectAwardList">
		select * from award where trainer_no = {#trainer_no} order by award_no desc 
	</select>
</mapper>
