<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.MemberMapper">
	<insert id="insertMember">
		<selectKey resultType="int" keyProperty="member_no" order="BEFORE">
			select seq_member.nextval from dual
		</selectKey>
		insert into member values(
		#{member_no},
		#{member_id, jdbcType=VARCHAR}, 
		#{member_pw, jdbcType=VARCHAR}, 
		#{member_name, jdbcType=VARCHAR}, 
		#{member_phone, jdbcType=VARCHAR}, 
		#{member_email, jdbcType=VARCHAR}, 
		#{member_status, jdbcType=INTEGER},
		#{member_cash, jdbcType=INTEGER})
	</insert>
	
	<update id="updateMember">
		update member
		<set>
			<if test="member_pw != null and member_pw !=''" >
				member_pw = #{member_pw},
			</if>
			<if test="member_phone != null and member_phone != ''">
				member_phone = #{member_phone},
			</if>
			<if test="member_email != null and member_email != ''">
				member_email = #{member_email},
			</if>
			<if test="member_status != null and member_status != ''">
				member_status = #{member_status},
			</if>
			<if test="member_cash != null and member_cash != ''">
				member_cash = #{member_cash}
			</if>
			where member_no = #{member_no}
		</set>
	</update>
	
	<select id="selectMember" resultType="Member">
		select * from member where member_no = #{member_no}
	</select>
	
	<select id="selectMemberList" resultType="Member">
		select rownum rn,board.* from (select * from member 		
		<if test="member_id != null and member_id != ''" >
			where member_id like '%'||#{member_id}||'%' and member_status = #{member_status}
		</if>
		<if test="member_name != null and member_name != ''">
			where member_name like '%'||#{member_name}||'%' and member_status = #{member_status}
		</if>
			where member_status like #{member_status}) order by member_no desc) 
			board) where rn between #{startRow} and #{endRow}
	</select>
</mapper>