<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.MemberMapper">
	<insert id="insertMember">
		<selectKey resultType="int" keyProperty="memberNo" order="BEFORE">
			select seq_member.nextval from dual
		</selectKey>
		insert into member values(
		#{memberNo},
		#{memberId, jdbcType=VARCHAR}, 
		#{memberPw, jdbcType=VARCHAR}, 
		#{memberName, jdbcType=VARCHAR}, 
		#{memberPhone, jdbcType=VARCHAR}, 
		#{memberEmail, jdbcType=VARCHAR}, 
		1,
		#{memberCash, jdbcType=INTEGER})
	</insert>
	
	<update id="updateMember">
		update member
			<trim prefix="set" suffixOverrides=",">
				<if test="memberPhone != null and memberPhone != ''">
					member_phone = #{memberPhone},
				</if>
				<if test="memberEmail != null and memberEmail != ''">
					member_email = #{memberEmail},
				</if>
				<if test="memberStatus &gt;= 0 and memberStatus &lt;= 9">
					member_status = #{memberStatus}
				</if>
			</trim>
			where member_no = #{memberNo}
	</update>

	<update id="updateMemberCash">
		update member 
		<set>
			<choose>
				<when test="cashType == 1 or cashType == 2">
					member_cash = member_cash - #{cash} 
				</when>
				<when test="cashType == 3">
					member_cash = member_cash + #{cash}
				</when>
			</choose>
		</set>
		where member_no = #{memberNo}
	</update>
	
	<update id="updateMemberPw">
		update member set member_pw = #{memberPw}
		where member_no = #{memberNo}
	</update>

	<select id="selectMember" resultType="Member">
		select * from member where member_no = #{memberNo}
	</select>
	
	<select id="selectIdMember" resultType="Member">
		select * from member where member_id = #{memberId}
	</select>
	
	<select id="selectPhoneMember" resultType="Member">
		select * from member where member_phone = #{memberPhone}
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="selectIdCheck" parameterType="String" resultType="int">
        SELECT COUNT(member_Id) FROM member WHERE member_id= #{memberId}
    </select>
	
	<!-- 아이디, 비밀번호 찾기 통합 쿼리 -->
	<select id="selectSearchMember" parameterType="map" resultType="Member">
		select * from member
		<trim prefix="where" suffixOverrides="and">
			<if test="memberPhone != null and memberPhone !='' and
						memberName != null and memberName != ''">
				member_phone = #{memberPhone} and member_name = #{memberName} and
			</if>
			<if test="memberId != null and memberId != ''">
				member_id = #{memberId}
			</if>
		</trim>
	</select>	
	
	<select id="selectMemberListCount" resultType="int">
		select count(*) from
		<trim>
			<if test="searchKeyword != null and searchValue !=''" >
			 	(select * from member where ${searchKeyword} like '%'||#{searchValue}||'%') 
			</if>	
			<if test="searchValue == null or searchValue == ''">
				member
			</if>
		 </trim>
			where member_status = 0 or member_status = 1 or member_status = 9
		  order by member_no desc
	</select>
	
	<select id="selectMemberList" resultType="Member">
		select * from
		(select rownum rn,board.* from (select * from 		
		<trim>
			<if test="searchKeyword != null and searchValue !=''" >
			 	(select * from member where ${searchKeyword} like '%'||#{searchValue}||'%')
			</if>
			<if test="searchValue == null or searchValue == ''">
				member
			</if>
		 </trim>
			where member_status = 0 or member_status = 1 or member_status = 9 order by member_no desc) 
			board) where rn between #{startRow} and #{endRow}
	</select>
	
	<!-- 자동 결제를 위한 트레이너 리스트 뽑기 -->
	<select id="selectAutoPayMemberList" resultType="Member">
	 	select * from member m left join pay p 
       		 on m.member_no = p.member_no 
           	 where pay_type = 2
	</select>
</mapper>