<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.NoticeServiceMapper">
	<insert id="insertNoticeService">
		<selectKey resultType="int" keyProperty="noticeServiceNo" order="BEFORE">
			select seq_notice_service.nextval from dual
		</selectKey>
		insert into notice_service values(
		#{noticeServiceNo},
		#{memberNo, jdbcType=INTEGER},
		#{noticeServiceCategory, jdbcType=INTEGER},
		#{noticeServiceTitle, jdbcType=VARCHAR},
		#{noticeServiceContent, jdbcType=VARCHAR},
		#{noticeServiceReply, jdbcType=VARCHAR}, 
		#{noticeServiceHits, jdbcType=INTEGER}, 
		sysdate, 
		1,
		#{noticeServiceSortation, jdbcType=INTEGER})
	</insert>
	
	<update id="updateNoticeService">
		update notice_service 
			<trim prefix="set" suffixOverrides="," >
				<if test="noticeServiceCategory != null and noticeServiceCategory != ''">
					notice_service_category = #{noticeServiceCategory},
				</if>
				<if test="noticeServiceTitle != null and noticeServiceTitle != ''">
					notice_service_title = #{noticeServiceTitle},
				</if>
				<if test="noticeServiceContent != null and noticeServiceContent != ''" >
					notice_service_content = #{noticeServiceContent},
				</if>
				<if test="noticeServiceReply != null and noticeServiceReply != ''">
					notice_service_reply = #{noticeServiceReply},
				</if>
				<if test="noticeServiceHits != null and noticeServiceHits != ''">
					notice_service_hits = #{noticeServiceHits},
				</if>
				<if test="noticeServiceStatus != null and noticeServiceStatus != ''">
					notice_service_status = #{noticeServiceStatus}
				</if>
		</trim>
			where notice_service_no = #{noticeServiceNo}
	</update>
	
	<update id="deleteNoticeService">
		update notice_service set notice_service_status = 0 where notice_service_no = #{noticeServiceNo}
	</update>
	
	<update id="updateReplyNoticeService"> 
		update notice_service set notice_service_reply = #{noticeServiceReply}, 
									notice_service_status = 3		
		where notice_service_no = #{noticeServiceNo} 
	</update>
	
	<update id="updateNoticeServiceHits">
		update notice_service set notice_service_hits = notice_service_hits+1 where notice_service_no = #{noticeServiceNo}
	</update>
	
	<select id="selectNoticeServiceCount" resultType="int">
		select count(*) from notice_service n left join member m 
			on n.member_no = m.member_no
			<choose>
				<when test="notice_service_status != null and notice_service_status != '' and
							searchKeyword != null and searchKeyword != '' and
							searchValue != null and searchValue != ''">
					where notice_service_status = #{notice_service_status} and 
					${searchKeyword} like '%'||#{searchValue}||'%' and notice_service_sortation = #{notice_service_sortation} 
				</when>
				<when test="notice_service_status == null and 
							searchKeyword != null and searchKeyword != '' and
							searchValue != null and searchValue != ''">
					where ${searchKeyword} like '%'||#{searchValue}||'%' and notice_service_sortation = #{notice_service_sortation}
				</when>
				<when test="notice_service_status != null and notice_service_status != '' and
							searchKeyword == null and searchKeyword == null">
					where notice_service_status = #{notice_service_status}	and notice_service_sortation = #{notice_service_sortation}		
				</when>
				<otherwise>
					where notice_service_sortation = #{notice_service_sortation} 
				</otherwise>
			</choose>
			order by notice_service_no desc
	</select>
	
	<select id="selectNoticeServiceFaqCount" resultType="int">
        select count(*) from notice_service n left join member m 
            on n.member_no = m.member_no
            <choose>
                <when test="notice_service_category != null and notice_service_categoery != ''">
                    where notice_service_sortation = 2 and notice_service_status = 1 and
                    notice_service_category = #{notice_service_category} 
                </when>
                <otherwise>
                    where notice_service_sortation 2 and notice_service_status = 1 
                </otherwise>
            </choose>
            order by notice_service_no desc
	</select>

	<select id="selectNoticeServicePersonalCount" resultType="int">
		select count(*) from notice_service where notice_service_sortation = #{notice_service_sortation} and member_no = #{member_no}
	</select>
	
	<select id="selectNoticeService" resultType="NoticeService">
		select * from notice_service where notice_service_no = #{notice_service_no}
	</select>
	
	<select id="selectNoticeServiceList" resultType="NoticeService">
		select * from (select rownum rn,board.* from 
		(select * from notice_service n left join member m 
			on n.member_no = m.member_no
			<choose>
				<when test="notice_service_status != null and notice_service_status != '' and
							searchKeyword != null and searchKeyword != '' and
							searchValue != null and searchValue != ''">
					where notice_service_status = #{notice_service_status} and 
					${searchKeyword} like '%'||#{searchValue}||'%' and notice_service_sortation = #{notice_service_sortation}
				</when>
				<when test="notice_service_status == null and 
							searchKeyword != null and searchKeyword != '' and
							searchValue != null and searchValue != ''">
					where ${searchKeyword} like '%'||#{searchValue}||'%' and notice_service_sortation = #{notice_service_sortation}
				</when>
				<when test="notice_service_status != null and notice_service_status != '' and
							searchKeyword == null">
					where notice_service_status = #{notice_service_status}	and notice_service_sortation = #{notice_service_sortation}		
				</when>
				<otherwise>
					where notice_service_sortation = #{notice_service_sortation} 
				</otherwise>
			</choose>
			order by notice_service_no desc)
		board) where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="selectNoticeServiceFaqList" resultType="NoticeService">
        select * from (select rownum rn,board.* from 
        (select * from notice_service n left join member m 
            on n.member_no = m.member_no
            <choose>
                <when test="notice_service_category != null and notice_service_category != ''">
                    where notice_service_sortation = 2 and notice_service_status = 1 and
                    notice_service_category = #{notice_service_category} 
                </when>
                <otherwise>
                    where notice_service_sortation = 2 and notice_service_status = 1 
                </otherwise>
            </choose>
            order by notice_service_no desc)
        board) where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="selectNoticeServicePersonalList" resultType="NoticeService">
		select * from (select rownum rn,board.* from 
		(select * from notice_service n left join member m 
		on n.member_no = m.member_no 
		where notice_service_sortation = 3 and n.member_no = #{memberNo}
		order by notice_service_no desc) board) 
		where rn between #{startRow} and #{endRow}
	</select>
</mapper>