<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.NoticeServiceMapper">
	<insert id="insertNoticeService">
		<selectKey resultType="int" keyProperty="notice_service_no" order="BEFORE">
			select notice_service_seq.nextval from dual
		</selectKey>
		insert into notice_service values(
		#{notice_service_no, jdbcType=INTEGER},
		#{member_no, jdbcType=INTEGER},
		#{notice_service_category, jdbcType=INTEGER},
		#{notice_service_title, jdbcType=VARCHAR},
		#{notice_service_content, jdbcType=VARCHAR},
		#{notice_service_reply, jdbcType=VARCHAR}, 
		#{notice_service_hits, jdbcType=INTEGER}, 
		sysdate, 
		#{notice_service_status, jdbcType=INTEGER},
		#{notice_service_sortation, jdbcType=INTEGER})
	</insert>
	
	<update id="updateNoticeService">
		update notice_service 
		<set>
			<if test="notice_service_category != null and notice_service_category != ''">
				notice_service_category = #{notice_service_category},
			</if>
			<if test="notice_service_title != null and notice_service_title != ''">
				notice_service_title = #{notice_service_title},
			</if>
			<if test="notice_service_content != null and notice_service_content != ''" >
				notice_service_content = #{notice_service_content},
			</if>
			<if test="notice_service_reply != null and notice_service_reply != ''">
				notice_service_reply = #{notice_service_reply},
			</if>
			<if test="notice_service_hits != null and notice_service_hits != ''">
				notice_service_hits = #{notice_service_hits},
			</if>
			<if test="notice_service_status != null and notice_service_status != ''">
				notice_service_status = #{notice_service_status}
			</if>
		</set>
			where notice_service_no = #{notice_service_no}
	</update>
	
	<update id="updateReplyNoticeService"> 
		update notice_service set notice_service_reply = #{notice_service_reply} where notice_service_no = #{notice_service_no}
	</update>
	
	<select id="selectNoticeServiceCount" resultType="int">
		select count(*) from notice_service n left join member m 
			on n.member_no = m.member_no
			<choose>
				<when test="status != null and status != '' and
							searchKeyword != null and searchKeyword != '' and
							searchValue != null and searchValue != ''">
					where notice_service_status = #{status} and 
					${searchKeyword} like '%'||#{searchValue}||'%' and notice_service_sortation = #{notice_service_sortation} 
				</when>
				<when test="status == null and 
							searchKeyword != null and searchKeyword != '' and
							searchValue != null and searchValue != ''">
					where ${searchKeyword} like '%'||#{searchValue}||'%' and notice_service_sortation = #{notice_service_sortation}
				</when>
				<when test="status != null and status != '' and
							searchKeyword == null and searchKeyword == null">
					where notice_service_status = #{status}	and notice_service_sortation = #{notice_service_sortation}		
				</when>
				<otherwise>
					where notice_service_sortation = #{notice_service_sortation} 
				</otherwise>
			</choose>
			order by notice_service_no desc
	</select>

	<select id="selectNoticeServicePersonalCount" resultType="int">
		select count(*) from notice_service where notice_service_sortation = #{notice_service_sortation} and member_no = #{member_no}
	</select>
	
	<select id="selectNoticeService" resultType="NoticeService">
		select * from notice_service where notice_service_no = #{notice_service_no}
	</select>
	
	<select id="selectNoticeServiceList" resultType="NoticeService">
		select * from (select rownum rn,board.* from 
		(select * from notice_service n left join member m 
			on n.member_no = m.member_no
			<choose>
				<when test="notice_service_status != null and notice_service_status != '' and
							searchKeyword != null and searchKeyword != '' and
							searchValue != null and searchValue != ''">
					where notice_service_status = #{notice_service_status} and 
					${searchKeyword} like '%'||#{searchValue}||'%' and notice_service_sortation = #{notice_service_sortation}
				</when>
				<when test="notice_service_status == null and 
							searchKeyword != null and searchKeyword != '' and
							searchValue != null and searchValue != ''">
					where ${searchKeyword} like '%'||#{searchValue}||'%' and notice_service_sortation = #{notice_service_sortation}
				</when>
				<when test="notice_service_status != null and notice_service_status != '' and
							searchKeyword == null">
					where notice_service_status = #{notice_service_status}	and notice_service_sortation = #{notice_service_sortation}		
				</when>
				<otherwise>
					where notice_service_sortation = #{notice_service_sortation} 
				</otherwise>
			</choose>
			order by notice_service_no desc)
		board) where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="selectNoticeServicePersonalList" resultType="NoticeService">
		select * from (select rownum rn,board.* from 
		(select * from notice_service n left join member m 
		on n.member_no = m.member_no 
		where notice_service_sortation = 3 and n.member_no = #{member_no}
		order by notice_service_no desc) board) 
		where rn between #{startRow} and #{endRow}
	</select>
</mapper>