<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.PostingMapper">
	<insert id="insertPosting">
		<selectKey keyProperty="postingNo" resultType="int" order="BEFORE">
			select seq_posting.nextval from dual
		</selectKey>
		insert into posting values(
		#{postingNo, jdbcType=INTEGER},
		#{trainerNo, jdbcType=INTEGER},
		#{postingSelfIntroduction, jdbcType=VARCHAR},
		#{postingSelfIntroductionImg1, jdbcType=VARCHAR},
		#{postingSelfIntroductionImg2, jdbcType=VARCHAR},
		#{postingSelfIntroductionImg3, jdbcType=VARCHAR},
		#{postingSelfIntroductionImg4, jdbcType=VARCHAR},
		#{postingProgramIntroduction, jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updatePosting">
		update posting 
		<set>
			<trim suffixOverrides=",">
				<if test="postingSelfIntroduction != null and postingSelfIntroduction != ''">
					posting_self_introduction = #{postingSelfIntroduction},
				</if>	
		
				<if test="postingSelfIntroductionImg1 != null and postingSelfIntroductionImg1 !=''">
					<choose>
	                    <when test="postingSelfIntroductionImg1 == '빈 값 넣어줘'">
	                        posting_self_introduction_img1 = null,
	                    </when>
	                    <otherwise>
	                        posting_self_introduction_img1 = #{postingSelfIntroductionImg1},
	                    </otherwise>
	                </choose>				
                </if>
				<if test="postingSelfIntroductionImg2 != null and postingSelfIntroductionImg2 != ''">
					<choose>
	                    <when test="postingSelfIntroductionImg2 == '빈 값 넣어줘'">
	                        posting_self_introduction_img2 = null,
	                    </when>
	                    <otherwise>
	                        posting_self_introduction_img2 = #{postingSelfIntroductionImg2},
	                    </otherwise>
	                </choose>	
				</if>
				<if test="postingSelfIntroductionImg3 != null and postingSelfIntroductionImg3 != ''">
					<choose>
	                    <when test="postingSelfIntroductionImg3 == '빈 값 넣어줘'">
	                        posting_self_introduction_img3 = null,
	                    </when>
	                    <otherwise>
	                        posting_self_introduction_img3 = #{postingSelfIntroductionImg3},
	                    </otherwise>
	                </choose>	
				</if>
				<if test="postingSelfIntroductionImg4 != null and postingSelfIntroductionImg4 != ''">
					<choose>
	                    <when test="postingSelfIntroductionImg4 == '빈 값 넣어줘'">
	                        posting_self_introduction_img4 = null,
	                    </when>
	                    <otherwise>
	                        posting_self_introduction_img4 = #{postingSelfIntroductionImg4},
	                    </otherwise>
	                </choose>	
				</if>
				<if test="postingProgramIntroduction != null and postingProgramIntroduction != ''">
					posting_program_introduction = #{postingProgramIntroduction}
				</if>
			</trim>
		</set>
		where posting_no = #{postingNo}
	</update>
	
	<select id="selectPosting" resultType="Posting">
		select * from posting where trainer_no = #{trainerNo}
	</select>
</mapper>