<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.PtOnceMapper">
	<insert id="insertPtOnce">
		<selectKey resultType="int" keyProperty="pt_once_no" order="BEFORE">
			select seq_pt_once.nextval from dual
		</selectKey>
		insert into pt_once values(
		#{pt_once_no},
		#{pt_once_gender},
		#{pt_once_age},
		#{pt_once_purpose},
		#{pt_once_experience},
		#{pt_once_significant, jdbcType=VARCHAR},
		#{member_no},
		#{trainer_no},
		#{pt_once_application_date},
		#{pt_once_status})
	</insert>
	
	<select id="selectPtOnceCount" resultType="int">
		select count(*) from pt_once where member_no=#{member_no}
	</select>
	
	<select id="selectPtOnceTrainerCount" resultType="int">
		select count(*) from pt_once where trainer_no=#{trainer_no}
	</select>
	
	<select id="selectPtOnce" resultType="PtOnce">
		select * from pt_once where pt_once_no=#{pt_once_no}
	</select>
	
	<select id="selectPtOnceList" resultType="PtOnce">
		select 
			* from 
				(select rownum rn,ps.* from
					(select pt_once_no, p.pt_once_application_date, m.member_name, p.pt_once_status
					from pt_once p left join trainer t on p.trainer_no = t.trainer_no 
									left join member m on t.member_no = m.member_no
					where p.member_no = #{member_no} order by p.pt_once_no desc
				) ps) 
		where rn between #{startRow} and #{endRow}
	</select>

	<select id="selectPtOnceTrainerList" resultType="PtOnce">
		select 
			* from 
				(select rownum rn,ps.* from
					(select p.pt_once_no, p.pt_once_application_date, m.member_name, m.member_phone, p.pt_once_status
					from pt_once p left join member m on p.member_no = m.member_no
					where p.trainer_no = #{trainer_no} order by p.pt_once_no desc
					) ps) 
		where rn between #{startRow} and #{endRow}
	</select>
	
</mapper>