<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.PtPricingMapper">
	<insert id="insertPtPricing">
		<selectKey resultType="int" keyProperty="ptPricingNo" order="BEFORE">
			select seq_pt_pricing.nextval from dual
		</selectKey>
		insert into pt_pricing values(
		#{ptPricingNo},
		#{trainerNo},
		#{ptPricingRound},
		#{ptPricingPrice})
	</insert>
	
	<update id="updatePtPricing">
		update ptPricing
		<set>
			<if test="ptPricingRound!=null and ptPricingRound!=''">
				pt_pricing_round=#{ptPricingRound},
			</if>
			<if test="ptPricingPrice!=null and ptPricingPrice!=''">
				pt_pricing_price=#{ptPricingPrice}
			</if>
		</set>
		where trainer_no=#{trainerNo}
	</update>
	
	<select id="selectPtPricingList" resultType="PtPricing">
		select * from pt_pricing where trainer_no=#{trainerNo} order by pt_pricing_round
	</select>
</mapper>