<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.PtServiceMapper">
	<insert id="insertPtService">
		<selectKey resultType="int" keyProperty="pt_service_no" order="BEFORE">
			select seq_pt_service.nextval from dual
		</selectKey>
		insert into pt_service values(#{pt_service_no},#{member_no},#{trainer_no},#{pt_service_title}
		,#{pt_service_content},#{pt_service_reply},#{pt_service_stars},#{pt_service_good}
		,#{pt_service_date},#{pt_service_status},#{pt_service_sortation})
	</insert>
	
	<update id="updatePtService">
		update pt_service
		<set>
			<if test="pt_service_title!=null and pt_service_title!=''">
				pt_service_title=#{pt_service_title}
			</if>
			<if test="pt_service_content!=null and pt_service_content!=''">
				pt_service_content=#{pt_service_content}
			</if>
			<if test="pt_service_reply!=null and pt_service_reply!=''">
				pt_service_reply=#{pt_service_reply}
			</if>
			<if test="pt_service_stars!=null and pt_service_stars!=''">
				pt_service_stars=#{pt_service_stars}
			</if>
		</set>
		where pt_service_no=#{pt_service_no}
	</update>
	
	<select id="selectPtServiceCount" resultType="int">
			select count(*) from notice_service where 
			pt_service_sortation = #{pt_service_sortation} and
			member_no = #{member_no}
	</select>
	
	<select id="selectPtService" resultType="PtService">
		select * from pt_service where pt_service_no=#{pt_service_no}
	</select>
	
	<select id="selectPtServiceList" resultType="PtService">
		select * from (select rownum rn,ps.* from
		(select * from pt_service where pt_service_sortation = #{pt_service_sortation} 
		and (select m.member_status from member m left join pt_service ps 
		on m.member_no = ps.member_no) = #{member_status}
		order by pt_service_no desc) 
		ps) where rn between #{startRow} and #{endRow}
	</select>
</mapper>