<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.ScheduleMapper">
	<insert id="insertSchedule">
		<selectKey resultType="int" keyProperty="scheduleNo" order="BEFORE">
			select seq_schedule.nextval from dual
		</selectKey>
		insert into schedule values(
		#{scheduleNo},
		#{scheduleWorkday, jdbcType=INTEGER},
		#{scheduleHours, jdbcType=VARCHAR},
		#{scheduleDayoff, jdbcType=VARCHAR},
		#{trainerNo})
	</insert>
	
	<update id="updateSchedule">
		update schedule 
		<set>
			<trim suffixOverrides=",">
				<if test="scheduleWorkday &gt;=0 and scheduleWorkday &lt;=4">
					schedule_workday=#{scheduleWorkday},	
				</if>
				<if test="scheduleHours != null and scheduleHours != '' ">
					schedule_hours=#{scheduleHours},
				</if>
				<if test="scheduleDayoff != null and scheduleDayoff != '' ">
					schedule_dayoff=#{scheduleDayoff} 
				</if>
			</trim>
				where schedule_no=#{scheduleNo}
		</set> 
	</update>
	
	<delete id="deleteSchedule">
		delete from schedule where schedule_no = #{scheduleNo}
	</delete>
	
	<delete id="deleteTrainerSchedule">
		delete from schedule where trainer_no = #{trainer_no}
	</delete>
	
	<select id="selectScheduleList" resultType="Schedule">
		select * from schedule where trainer_no=#{trainer_no} order by schedule_workday
	</select>
</mapper>