<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.ScheduleMapper">
	<insert id="insertSchedule">
		<selectKey resultType="int" keyProperty="schedule_no" order="BEFORE">
			select seq_schedule.nextval from dual
		</selectKey>
		insert into schedule values(
		#{schedule_no},
		#{schedule_workday, jdbcType=INTEGER},
		#{schedule_hours, jdbcType=VARCHAR},
		#{schedule_dayoff, jdbcType=VARCHAR},
		#{trainer_no})
	</insert>
	
	<update id="updateSchedule">
		update schedule 
		<set>
			<if test="schedule_workday != null schedule_workday != ''">
				schedule_workday=#{schedule_workday},	
			</if>
			<if test="schedule_hours != null schedule_hours != ''">
				schedule_hours=#{schedule_hours},
			</if>
			<if test="schedule_dayoff != null schedule_dayoff != ''">
				schedule_dayoff=#{schedule_dayoff} 
			</if>
				where trainer_no=#{trainer_no}
		</set> 
	</update>
	
	<delete id="deleteSchedule">
		delete from schedule where schedule_no = #{schedule_no}
	</delete>
	
	<select id="selectScheduleList" resultType="Schedule">
		select * from schedule where trainer_no=#{trainer_no} order by schedule_workday
	</select>
</mapper>