<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwill.helljava.mapper.TrainerMapper">
	<insert id="insertTrainer">
		<selectKey resultType="int" keyProperty="trainerNo" order="BEFORE">
			select seq_trainer.nextval from dual
		</selectKey>
		insert into trainer values(
		#{trainerNo},
		#{memberNo},
		#{trainerProfileImg},
		#{trainerAddress},
		#{trainerCentername},
		#{trainerZip})
	</insert>
	
	<update id="updateTrainer">
		update trainer
		<trim prefix="set" suffixOverrides=",">
			<if test="trainerProfileImg!=null and trainerProfileImg!=''">
				trainer_profile_img= #{trainerProfileImg},
			</if>
			<if test="trainerAddress!=null and trainerAddress!=''">
				trainer_address= #{trainerAddress},
			</if>
			<if test="trainerCentername!=null and trainerCentername!=''">
				trainer_centername= #{trainerCentername},
			</if>
			<if test="trainerZip!=null and trainerZip!=''">
				trainer_zip= #{trainerZip}
			</if>
		</trim>
			where trainer_no = #{trainerNo}
	</update>
	
	<select id="selectTrainer" resultType="Trainer">
		select * from trainer t right join member m
			on t.member_no = m.member_no 
		 where t.member_no= #{memberNo}
	</select>
	
	<select id="selectTrainerTrainerNo" resultType="Trainer">
		select * from trainer t right join member m
			on t.member_no = m.member_no 
		 where t.trainer_no= #{trainerNo}
	</select>
	
	<!-- <select id="selectTrainerListCount" resultType="int">
		select count(*) from 
		<trim prefix="where" prefixOverrides="and">
			<if test="member_id != null and member_id != ''" >
				m.member_id like '%'||#{memberId}||'%'
			</if>
			<if test="member_name != null and member_name != ''">
				m.member_name like '%'||#{memberName}||'%'
			</if>
			and m.member_status = #{memberStatus}
		</trim>
		order by m.member_no desc
	</select> -->
	
	<select id="selectTrainerListCount" resultType="int">
		select count(*) from
			<choose>
				<when test="searchKeyword != null and searchValue !=''">
					(select * from member m right join trainer t 
				            on m.member_no = t.member_no where ${searchKeyword} like '%'||#{searchValue}||'%' and m.member_status = #{memberStatus} order by t.member_no desc)
				</when>
				<when test="searchValue == null or searchValue == ''">
					 member m right join trainer t 
				            on m.member_no = t.member_no where m.member_status = #{memberStatus} order by t.member_no desc
				</when>
			</choose>
			
	</select>
	
	<select id="selectMainPageTrainerListCount" resultType="int">
		select count(*) from member m right join trainer t on m.member_no = t.member_no
								right join posting p on t.trainer_no = p.trainer_no 
				where ${searchKeyword} like '%'||#{searchValue}||'%'
				and m.member_status = 3
			order by m.member_no desc
	</select>
	
	<select id="selectTrainerList" parameterType="map" resultType="Trainer">

			select * from     
			(select rownum rn,board.* from (select * from
			
		<choose>
			<when test="searchKeyword != null and searchValue !=''" >
				(select * from member m right join trainer t 
			            on m.member_no = t.member_no where ${searchKeyword} like '%'||#{searchValue}||'%'
			             and m.member_status = #{memberStatus}
							order by m.member_no desc)
			</when>
			<when test="searchValue == null or searchValue == ''">
				 member m right join trainer t 
			            on m.member_no = t.member_no where m.member_status = #{memberStatus}
							order by m.member_no desc
			</when>
		</choose>
				) board)
				where rn between #{startRow} and #{endRow}
			
	</select>
	
	<select id="selectMainPageTrainerList" parameterType="map" resultType="Trainer">
		select * from 
		(select rownum rn, board.* from
		(select * from member m right join trainer t on m.member_no = t.member_no
									right join posting ps on t.trainer_no = ps.trainer_no 
									left join pay p on m.member_no = p.member_no
				where ${searchKeyword} like '%'||#{searchValue}||'%'
				and m.member_status = 3 and pay_status = 1
			order by m.member_no desc) board)
			where rn between #{startRow} and #{endRow}
	</select>

	<select id="selectMonthTrainer" resultType="Trainer">
   	 select * from
   	 (select rownum rn, board.* from(
     	 select count(*) count, p.trainer_no, m.member_name, t.trainer_centername, ps.posting_self_introduction, t.trainer_profile_img
            from trainer t  
                left join member m
                    on m.member_no = t.member_no 
                left join pt_service p
                    on t.trainer_no = p.trainer_no
                left join posting ps
                    on p.trainer_no = ps.trainer_no
                left join pay pa 
                	on pa.member_no = m.member_no
     		 where pt_service_sortation = 1 and pt_service_status = 1 and pay_status = 1
        group by p.trainer_no, m.member_name, t.trainer_centername, ps.posting_self_introduction, t.trainer_profile_img order by count desc)
        board) where rn between 1 and 3
	</select>

</mapper>
	

